$mobile-width: 375px;
$desktop-width: 1440px;

// primary colors

$orange: hsl(25, 97%, 53%);

// neutral

$white: hsl(0, 100%, 100%);
$grey500: hsl(217, 12%, 63%);
$grey900: hsl(213, 19%, 18%);
$grey950: hsl(216, 12%, 8%);

$font-size: 15px;

$mainweight: 700;
$secondaryweight: 400;